/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
    padding: 2em 0 0 0;
    a { color: $dark-taupe; }
}

.photo-container,
.intro-container,
.social-container {
  float: left;
  width: 50%;
  @include media-query($on-palm) {
    float: none;
    width: 100%;
  }
}

.color-block {
  background: $light-taupe;
  padding: 3em;
  p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.social-container {
  padding: 3em;
  .fa-linkedin { margin-right: 1.3em; }
  .fa-envelope { margin-right: 0.5em; }
  a {
    color: $dark-taupe;
    font-weight: 700;
    &:hover {
      text-decoration: none;
    }
  }
}

.site-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    float: left;

    &:hover { text-decoration: none; }
}

.site-nav {
    float: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $dark-taupe;
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: $base-line-height;
        text-transform: uppercase;
        &:hover { text-decoration: none; }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    a { color: $dark-taupe; }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    max-width: 750px;
    margin: 0 auto;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    font-weight: 400;
    line-height: 1.7em;
    max-width: 750px;
    margin: 0 auto;

    ul, ol {
      margin-left: 18px;
    }
    li {
      margin-bottom: 0.8em;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      color: $dark-taupe;
      font-size: 1.3em;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 2em;
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
